body{
    margin: 0;
}
.componentHome{
    display: flex;
    flex-direction: column;
}
.componentHomeContent{
    display: flex;
    flex-direction: row;
    background: whitesmoke;
}
.componentHomeContentCard-1, .componentHomeContentCard-2{
    width: 50%;
}
.componentHomeContentCard-1, .componentHomeContentCard-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.componentHomeContentElementCard-1{
    border: solid rgba(0, 0, 0, 0.2) 1px;
    border-radius: 8px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
    margin-top:10em;
    margin-bottom: 10px;
    width: 60%;
    height: 500px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
    background: white; 
}
.componentHomeContentElementCardTitle-1{
    padding: 5px;
}
.destaq{
    color: rgba(165, 42, 42, 0.7);
    font-size: larger;
    margin-top: 30px;
    margin-bottom: -15px;
}
.componentImgSqueezeTimol{
    height: 200px ;
    width: 300px;
}
a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.9);
}
.componentHomeContentCard-2{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}
.componentHomeContentElementCard-2, .componentHomeContentElementCard-3, .componentHomeContentElementCard-4{
    border: solid rgba(0, 0, 0, 0.2) 1px;
    border-radius: 8px;
    box-shadow: 2px 2px 2px rgba(0, 255, 255, 0.4);
    width: 60%;
    margin-right: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    overflow: hidden;
    flex-wrap: wrap;
}
.componentHomeContentElementCard-2, .componentHomeContentElementCard-3,.componentHomeContentElementCard-4{
    flex-direction: row;
    justify-content: space-between;
}
.componentHomeContentElementCard-2,.componentHomeContentElementCard-3,.componentHomeContentElementCard-4{
    max-height: 150px;
    background: white;
}
.componentHomeContentElementCard-2{
    margin-top: 9em;
}
.ComponentHomeProductDescription-1, .ComponentHomeProductDescription-2, .ComponentHomeProductDescription-3{
    text-shadow: 1px 1px 1px white;
    padding: 15px;
    margin: 2px 3px;
    border-radius: 6px;
    width: 96%;
    background: linear-gradient(105deg, rgba(0,255,255,0.5) 35% , goldenrod 65%);
}
.ComponentInternal-1, .ComponentInternal-2, .ComponentInternal-3{
    display: flex;
    flex-direction: row;
}
.componentSylocimolMini,.componentTophMineralizador,.componentComboMini{
    padding: 5px;
    height: 50px ;
    width: 70px ;
}
.componetInternalPromotion-1,.componetInternalPromotion-2,.componetInternalPromotion-3{
    text-decoration: solid overline rgba(0, 0, 0, 0.4) 3px;
}
.ComponentHomeFooter{
    display: flex;
    flex-direction: row;
    margin: 2em 2em;
}
.componentToReceiveEmail{
    height: 100%;
    width:60%;
}
.ComponentHomeFooterLinks{
    height: 100%;
    width: 40%;
}
.ComponentHomeFooterLinks{
    display: flex;
    flex-direction: column;
    justify-content: space-between;  
}
.componentToReceiveEmail{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.componentHomeFace, .componentHomeInstagram{
    height: 50px;
    width: 50px;
}
.componentHomeEmail,.componentHomeName{
    display: flex;
    flex-direction: row;
    border: solid rgba(0, 0, 0, 0.2) 1px;
    border-radius: 9px;
   
}
.componentImgHomeEmail,.componentImgHomePerson{
    height: 90px;
    width: 110px;
    padding: 5px;
}
.componentHomeEmail{
    margin-top: 1em;
}
.componentInputHomeName,.componentInputHomeEmail{
    width: 60%;
    padding: 5px;
    outline: none;
    border: none;
}
.componentButonHomeEmail{
    width: 30%;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
    border: none;
    outline: none;
    color: whitesmoke;
    background: linear-gradient(97deg, blue 45%, darkblue 55%);
    cursor: pointer;
}
.componentButonHomeEmail:hover{
    background: linear-gradient(97deg, green 45%, darkgreen 55%);
}
.componentObligation{
    font-size: x-small;
}
.componentHomePromocionalTextArgumentation{
    background: rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    padding: 10px;
}



            
        
                    /*  área de responsividade */


@media(max-width:200px){

} 
@media(max-width:300px){

} 
 @media(max-width:400px){

} 
 @media(max-width:500px){

 }                        
@media(max-width:600px){

}
@media(max-width:700px){

}

             
                    /*   área de responsividade  */